{% extends 'core/base.html' %}
{% block title %} Acerca de mi {% endblock %}

{% block background %} {% load static %} {% static 'core/img/about-bg.jpg'%} {% endblock %}

{% block headers %}
    <h1>About</h1>
    <span class="subheading"></span>
{% endblock %}


{% block content %}
<div class="row">     
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar_1.jpg'%}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Alfredo Vega</h2>   
        <p>Hello, I am a specialist developer in Python with over 3+ years of experiences using Artificial Intelligence. </p>
        <p>I like to learn new technologies to be able to integrate into projects and thus create new solutions.</p>
    </div>
</div>

{% endblock %}