{% extends 'core/base.html' %}
{% block title %} Contacto {% endblock %}


{% block background %} {% load static %} {% static 'core/img/contact-bg.jpg'%} {% endblock %}

{% block headers %}
    <h1>Contact</h1>
    <span class="subheading"></span>
{% endblock %}



{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>if you have an idea, you contact me in the following email to make it come true.  </p>
        <br>
        <p><b>Email:</b> alfredo.snow1@gmail.com</p>

    </div>
</div>
{% endblock %}